name: AUTO 20 Shorts Per Day

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install Python dependencies (FIXED)
        run: |
          python -m pip install --upgrade pip
          pip install numpy==1.23.5
          pip install -r requirements.txt

      - name: Run automation
        env:
          YT_TOKEN: ${{ secrets.YT_TOKEN }}
        run: python auto_runner.py
