name: AUTO 20 Shorts Per Day

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system deps
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Install Python deps
        run: pip install -r requirements.txt

      - name: Run automation
        env:
          YT_TOKEN: ${{ secrets.YT_TOKEN }}
        run: python main.py
